{% extends "blogs/homepage.html" %}

{% block content %}
<h3 class="text-center display-4 mt-n3 pb-3" style="color:white">Post</h3>
<div class="card border-white mx-auto mb-5" style="width: 80rem; background-color:white; border-radius: 30px;">
  <div class="card-body">
    <h3><b style="color:#44277C">{{blog.title}}</b></h3>
    <hr style="border-color:#5AFFAF"/>
    <h4 class="font-weight-light" style="color:#44277C">Abstract</h4>
    <p class="font-italic" style="color:#44277C">{{blog.abstract}}</p>
    <hr style="border-color:#5AFFAF"/>
    <p style="color:#44277C" id="bodytext">{{blog.body|safe}}</p>
    <p class="font-weight-light float-right" style="color:#44277C">on {{blog.publish_date}}</p>
  </div>
</div>
{% endblock %}
