{% extends "blogs/homepage.html" %}

{% block content %}
<div class="card border-white mx-auto" style="width: 80rem; background-color:#5AFFAF">
  <div class="card-body">
    <h3><b style="color:#44277C">{{blog.title}}</b></h3>
    <hr/>
    <h4 class="font-weight-light" style="color:#44277C">Abstract</h4>
    <p class="font-italic" style="color:#44277C">{{blog.abstract}}</p>
    <hr/>
    <p style="color:#44277C">{{blog.body}}</p>
    <p class="font-weight-light float-right" style="color:#44277C">on {{blog.publish_date}}</p>
  </div>
</div>
{% endblock %}
