{% extends "blogs/homepage.html" %}

{% block content %}
<div class="card border-white mx-auto mt-n3 mb-4" style="width: 80rem;">
	<div class="card-body">
		<table id="posts" class="table table-hover" style="width=100%;">
			<thead class="thead-white" style="background-color:#44277C">
				<tr>
					<th></th>
					<th scope="col" style="color:white" class="font-weight-light">Title</th>
					<th scope="col" style="width: 45rem; color:white" class="font-weight-light">Abstract</th>
					<th scope="col" style="width: 9rem; color:white" class="font-weight-light">Publish Date</th>
					<th scope="col" style="width: 10rem; color:white" class="font-weight-light">Removal Date</th>
					<th></th>
				</tr>
			</thead>
			{% for blog in object_list %}
				<tr class="bg-white">
					<td>
						{% if blog.removal_date == None %}
							<a href="{% url 'edit_blog' pk=blog.id %}"><i class="fas fa-edit" style="color:#5AFFAF"</a>
						{% else %}
							<i class='fas fa-edit text-muted'</i>
						{% endif %}
					</td>
					<td>
						{% if blog.removal_date == None %}
							<a href="/blogs/{{blog.id}}" style="color:#5AFFAF"><b>{{blog.title}}</b></a>
						{% else %}
							<b class="text-muted">{{blog.title}}</b>
						{% endif %}
					</td>
					<td><i>{{blog.abstract}}</i></td>
					<td>{{blog.publish_date|date:"Y-m-d"}}</td>
					<td>{{blog.removal_date|date:"Y-m-d"}}</td>
					<td>
						{% if blog.removal_date == None %}
							<a href="{% url 'delete_blog' pk=blog.id %}" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt" style="color:#5AFFAF"></i></a>
						{% else %}
							<i class="fas fa-trash-alt text-muted"></i>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
		<script>
			$(document).ready( function () {
		    $('#posts').DataTable({
					searching: false,
					"pagingType": "full_numbers_no_ellipses",
					"columnDefs": [
				    {"orderable": false, "targets": [0, 5]},
				  ],
					"order": [[3, "desc"]]
				});
			} );
		</script>
	</div>
</div>
{% endblock %}
