{% extends "blogs/homepage.html" %}

{% block content %}
	<table style="width=100%">
		<tr>
			<th></th>
			<th>Title</th>
			<th>Abstract</th>
			<th>Publish Date</th>
			<th>Removal Date</th>
			<th></th>
		</tr>
		{% for blog in object_list %}
			<tr>
				<td><a href="{% url 'edit_blog' pk=blog.id %}"><i class="fa fa-trash">Edit</i></a></td>
				<td><a href="/blogs/{{blog.id}}">{{blog.title}}</a></td>
				<td>{{blog.abstract}}</td>
				<td>{{blog.publish_date|date:"Y-m-d"}}</td>
				<td>{{blog.removal_date|date:"Y-m-d"}}</td>
				<td><a href="{% url 'delete_blog' pk=blog.id %}"><i class="fa fa-trash">Delete</i></a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
